* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e7e9;
  color: rgb(119, 113, 113);
}

i {
  font-size: 15px;
  color: rgb(119, 113, 113);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  background: #fff;
  border: 1px solid #ccc;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 5px;
}

.todo-header,
.add-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  color: #222;
}

.todo-footer {
  text-align: center;
  background: #e5e7e9;
  padding: 15px;
}

.add-todo-input,
.edit-todo-input  {
  border: none;
  outline: none;
  border-color: transparent;
  font-size: 20px;
  font-style: italic;
}

.list-item {
  padding: 15px;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.list-item label {
  padding-left: 15px;
  color: #222;
}

.fa-ellipsis-v,
.fa-trash-alt {
  float: right;
}

.draggable {
  padding: 1rem;
  background-color: white;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.hidden {
  display: none;
}